@charset "UTF-8";
@font-face {    /*Adding a font*/
    font-family: "CaviarDreams";    
    src: url(../static/Font/CaviarDreams.ttf);    
}
@font-face {    /*Adding a font*/
    font-family: "CaviarDreams_Bold";   
    src: url(../static/Font/CaviarDreams_Bold.ttf);     
}
@font-face {    /*Adding a font*/
    font-family: "CaviarDreams_BoldItalic";    
    src: url(../static/Font/CaviarDreams_BoldItalic.ttf);  
}
@font-face {    /*Adding a font*/
    font-family: "CaviarDreams_Italic";    
    src: url(../static/Font/CaviarDreams_Italic.ttf);     
}
@font-face {    /*Adding a font*/
    font-family: "SIMPLIFICA";   
    src: url(../static/Font/SIMPLIFICA_Typeface.ttf);     
}

.light_mode{
    color:#000000;
    background-color: FFFFFF;
}

.dark_mode{
    color:#FFFFFF;
    background-color: #000000;
}

/*the body and form tag style*/
body, form{   
    font-size: 20px;     
    background-color: #FFFFFF;   
    color:#000000;  
}
/* use dark/lightmode */

form input[type="text"],     
form input[type="password"], 
form input[type="email"], 
form input[type="tel"],
form textarea {
    font-size: 23px; 
    font-family: "CaviarDreams_Bold", sans-serif;    
}

/*the container class style*/
.container {    
    font-family: "CaviarDreams_Bold", sans-serif;
    margin: 0 auto;
    border-collapse: collapse; 
    margin-top: 100px; 
    height: 30%;
    width: 30%;
    margin-bottom: 20px;   
    text-align: left;   
    font-weight: bold; 
}

h1 {
    margin: 0 auto;
    margin-bottom: 20px;    
    margin-top: 150px; 
    text-align: left; 
    width: 100%;
    display: flex;      
    justify-content: center;   
    align-items: center;    
}

.registerh1 {
    margin: 0 auto;
    margin-bottom: 20px;   
    text-align: left;   
    width: 100%;
    display: flex;      
    justify-content: center;    
    align-items: center;   
}

/* used for input field for every page */
.input-field {  
    border: none;   
    border-bottom: 1px solid black;
    outline: none; 
    width: 100%; 
    margin-bottom: 20px;    
}
 
/*this will be used when the input-field is focused(clicked or selected)*/
.input-field:focus {    
    border-bottom: 2px solid black; 
}

/* used for the monthly view page */
table {
    border-collapse: collapse;
}

.monthly_view{
    font-family: "CaviarDreams_Bold", sans-serif;     
    font-weight: bold;
    height: 100vh;
    display: flex;      
    /* justify-content: center;*/
    align-items: center;     
    flex-direction: column; 
}

.monthly_view thead th,
.monthly_view thead td {
    font-size: 20px;    
    width: 100px; 
    height: 30px;
    text-align: center;   
    border: 0px solid #000000; 
}   

.calendar_basic {
    font-family: "CaviarDreams", sans-serif;
    margin: 0 auto;
    width: 100%;
    font-size: 15px;   
}

.monthly_view tbody th,
.monthly_view tbody td {
    width: 100px; 
    height:100px; 
    vertical-align: top;
    border: 2px solid #000000; 
}

.today{
    color: #FFFFFF;
    background: #000000;
}

#pagination{
    margin: 0 auto;
    width:40%;
    display: flex;     
    justify-content: center;  
    align-items: center; 
     margin-bottom: 10px; 
}

#prev_month, #next_month{ 
    font-family: "CaviarDreams_Bold", sans-serif;     
    background-color: #000000; 
    border: none;   
    color: #ffffff; 
    padding: 5px 15px;   
    text-align: center; 
    text-decoration: none;  
    display: inline-block;  
    font-size: 16px; 
    margin-top: 100px; 
    cursor: pointer; 
    border-radius: 5px;
}

#year_month_header{
    margin: 0 auto;
    margin-top: 100px; 
    text-align: center;  
    width: 70%;
    display: flex;     
    justify-content: center;    
    align-items: center;    
}

/* buttons */
.BlackButton{   
    font-family: "CaviarDreams_Bold", sans-serif;     
    background-color: #000000; 
    border: none;   
    color: #ffffff; 
    padding: 5px 15px;   
    text-align: center; 
    text-decoration: none;  
    display: inline-block;  
    font-size: 16px; 
    margin-bottom: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.WhiteButton{
    font-family: "CaviarDreams_Bold", sans-serif;   
    background-color: #FFFFFF; 
    border-bottom: 1px solid black; 
    color: #000000; 
    padding: 0px 2px; 
    text-align: center; 
    text-decoration: none;  
    display: inline-block;  
    font-size: 16px; 
    margin-bottom: 10px; 
    cursor: pointer; 
}




