@charset "UTF-8";

@font-face {    /*Adding a font*/
    font-family: "CaviarDreams";    
    src: url(../static/Font/CaviarDreams.ttf);    
}
@font-face {    /*Adding a font*/
    font-family: "CaviarDreams_Bold";   
    src: url(../static/Font/CaviarDreams_Bold.ttf);     
}
@font-face {    /*Adding a font*/
    font-family: "CaviarDreams_BoldItalic";    
    src: url(../static/Font/CaviarDreams_BoldItalic.ttf);  
}
@font-face {    /*Adding a font*/
    font-family: "CaviarDreams_Italic";    
    src: url(../static/Font/CaviarDreams_Italic.ttf);     
}
@font-face {    /*Adding a font*/
    font-family: "SIMPLIFICA";   
    src: url(../static/Font/SIMPLIFICA_Typeface.ttf);     
}

.light_mode{
    color:#000000;
    background-color: FFFFFF;
}

.dark_mode{
    color:#FFFFFF;
    background-color: #000000;
}

/*the body and form tag style*/
body, form{   
    font-family: "CaviarDreams_Bold", sans-serif;     
    font-size: 20px;     
    background-color: #FFFFFF;   
    color:#000000;  
}
/* use dark/lightmode */

form input[type="text"],     
form input[type="password"], 
form input[type="email"], 
form input[type="tel"],
form textarea {
    font-size: 23px; 
    font-family: "CaviarDreams_Bold", sans-serif;    
}

/*the container class style*/
.container {    
    font-family: "CaviarDreams_Bold", sans-serif;
    margin: 0 auto;
    border-collapse: collapse; 
    margin-top: 100px; 
    height: 30%;
    width: 30%;
    margin-bottom: 20px;   
    text-align: left;   
    font-weight: bold; 
}

.event_add_container {    
    font-family: "CaviarDreams_Bold", sans-serif;
    margin: 0 auto;
    border-collapse: collapse; 
    margin-top: 10%; 
    height: 30%;
    width: 80%;
    margin-bottom: 20px;   
    text-align: left;   
    font-weight: bold; 
}

h1 {
    margin: 0 auto;
    margin-bottom: 20px;    
    margin-top: 150px; 
    text-align: left; 
    width: 100%;
    display: flex;      
    justify-content: center;   
    align-items: center;    
}

.top_h1 {
    margin: 0 auto;
    margin-bottom: 20px;   
    text-align: left;   
    width: 100%;
    display: flex;      
    justify-content: center;    
    align-items: center;   
}

.small_h1 {
    font-size: 30px; 
    margin: 0 auto;
    margin-bottom: 10px;   
    text-align: left;   
    width: 100%;
    display: flex;      
    justify-content: center;    
    align-items: center;   
}

/* used for input field for every page */
.input-field {  
    border: none;   
    border-bottom: 1px solid black;
    outline: none; 
    width: 100%; 
    margin-bottom: 20px;    
}
 
/*this will be used when the input-field is focused(clicked or selected)*/
.input-field:focus {    
    border-bottom: 2px solid black; 
}

/* used for the monthly view page */
.top_buttons{
    align-items: right;  
}

#monthly_calendar table{
    width: 90vw;  
    height: 70vh;
    border-collapse: collapse;
}

.monthly_view{
    font-family: "CaviarDreams_Bold", sans-serif;     
    font-weight: bold;
    display: flex;      
    /* justify-content: center;*/
    align-items: center;     
    flex-direction: column; 
    margin-bottom: 15px;
}

.calendar_basic {
    font-family: "CaviarDreams", sans-serif;
    margin: 0 auto;
    width: 100%;
    font-size: 15px; 
    height: calc(70vh / 6);  
}

.calendar_day {
    font-size: 20px;    
    width: calc(100% / 7);  
    height: 30px;
    text-align: center;   
    border: 0px solid #000000;
    box-sizing: border-box; 
    vertical-align: top;  
}   

.monthly_view tbody th,
.monthly_view tbody td {
    width: calc(100% / 7); 
    box-sizing: border-box; 
    vertical-align: top;
    border: 2px solid #000000; 
}

.today_cell {
    background-color: #000000;
    color:#FFFFFF;
    font-size: 15px ;
    display: border-box;
    border-collapse: collapse;
    border: 4px solid #000000;  
}

.events{
    font-family: "CaviarDreams", sans-serif;
    color:#000000;
}

.five_cells_height{
    height: calc(70vh / 6);
}
.spacing_for_month_head{
    margin-left: 30px;
    margin-right: 30px;
}

#color{
    margin: 0; 
}

#pagination_monthly{
    margin: 0 auto;
    width:40%;
    display: flex;     
    justify-content: space-between;  
    align-items: center; 
    margin-bottom: 15px; 
    margin-top: 15px; 
}

#prev_month, #next_month,
#prev_day, #next_day{ 
    font-family: "CaviarDreams_Bold", sans-serif;     
    background-color: #000000; 
    border: none;   
    color: #ffffff; 
    padding: 5px 15px;   
    text-align: center; 
    text-decoration: none;  
    display: inline-block;  
    font-size: 30px; 
    cursor: pointer; 
    border-radius: 5px;
}

#year_month_header{
    font-size: 40px; 
    margin: 0 auto;
    text-align: center;  
    width: 70%;
    display: flex;     
    justify-content: center;    
    align-items: center;    
}

#year_month_day_header{
    font-size: 35px; 
    margin: 0 auto;
    text-align: center;  
    width: 70%;
    display: flex;     
    justify-content: center;    
    align-items: center;  
}

.daily_page_container{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    margin-right: 20px;
    
}

.daily_container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    height: 80vh;
    width: 70%;
}

#pagination_daily{
    margin: 0 auto;
    width:40%;
    display: flex;     
    justify-content: space-between;  
    align-items: center; 
    margin-bottom: 15px; 
    margin-top: 15px; 
}

.daily_view_container{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
}

.daily_item_event{
    margin-top: 15px; 
    flex-grow: 1; 
    max-width: 30%;
    border-collapse: collapse;
}

#am_daily_view,
#pm_daily_view {
    flex-grow: 1; 
    max-width: 45%;
    border-collapse: collapse;
}

#am_daily_view table,
#pm_daily_view table{ 
    height: 80vh;
    border-collapse: collapse;
    margin-right: 5%;
}

.time_cell{
    background-color: #000000;
    color:#FFFFFF;
    font-size: 15px ;
    border: 1px solid #FFFFFF;
    padding: 10px;
    width:10px;
}
.event_cell{
    background-color: #FFFFFF;
    color:#000000;
    font-size: 15px ;
    border: 1px solid #000000;
    width:100%;
    
}

/* buttons */
.BlackButton{   
    font-family: "CaviarDreams_Bold", sans-serif;     
    background-color: #000000; 
    border: none;   
    color: #ffffff; 
    padding: 5px 15px;   
    text-align: center; 
    text-decoration: none;  
    display: inline-block;  
    font-size: 16px; 
    margin-bottom: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.WhiteButton{
    font-family: "CaviarDreams_Bold", sans-serif;   
    background-color: #FFFFFF; 
    border-bottom: 1px solid black; 
    color: #000000; 
    padding: 0px 2px; 
    text-align: center; 
    text-decoration: none;  
    display: inline-block;  
    font-size: 16px; 
    margin-bottom: 10px; 
    cursor: pointer; 
}

.setting_icon {
    background-image: url('../static/image/setting_icon_dark.png'); 
    background-size: cover; 
    padding: 15px;
    width: 30px;
    height: 30px; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

/* Dropdown Button */
.dropbtn {
    font-family: "CaviarDreams_Bold", sans-serif;     
    background-color: #000000; 
    border: none;   
    color: #ffffff; 
    padding: 5px 15px;   
    text-align: center; 
    text-decoration: none;  
    display: inline-block;  
    font-size: 16px; 
    margin-bottom: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}




