{% extends "layout.html" %}
{% block title %} Change Password++ {% endblock %}

{% block body %}

<div class="nomal_hader_container">
    <h1>
        Verify It's You
    </h1>
</div>

<div class="container">
    <form action="/change_password_email" method="POST"></form>
    <form>
        <label for="current_password"> Enter your current password: </label><br>
        <input type="password" id="confirmation_code" name="confirmation_code" class="input-field"><br>
        <label for="new_password"> Enter New Password: </label><br>
        <input type="password" id="new_password" name="new_password" class="input-field"><br>
        <label for="confirm_new_password"> Confirm New Password: </label><br>
        <input type="password" id="confirm_new_password" name="confirm_new_password" class="input-field" required
                pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}"
                title="Password must contain at least 8 characters, including at least one number"><br>
        <input type="submit" value="Reset Password" class="BlackButton"><br>
    </form>
    <a href="/security_settings" class="WhiteButton">
        Go Back To Setting Page<!--Go to the sign in page-->
    </a><br>
</div>

{% endblock %}