{% extends "layout.html" %}
{% block title %} Reset password {% endblock %}

{% block body %}

<h1>
    Verify It's You
</h1>
<div class="container">
    <form action="/change_password_email" method="POST"></form>
    <form>

        <label for="username"> Enter your username: </label><br>
        <input type="text" id="username" name="username" class="input-field"><br>
        <label for="confirmation_code"> Enter the 6 digit code sent to your Email: </label><br>
        <input type="text" id="confirmation_code" name="confirmation_code" class="input-field"><br>
        <label for="new_password"> Enter New Password: </label><br>
        <input type="text" id="new_password" name="new_password" class="input-field"><br>
        <label for="confirm_new_password"> Confirm New Password: </label><br>
        <input type="text" id="confirm_new_password" name="confirm_new_password" class="input-field" required
                pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}"
                title="Password must contain at least 8 characters, including at least one number"><br>
        <input type="submit" value="Reset Password" class="BlackButton"><br>
    </form>
    <a href="login_page.html" class="WhiteButton">
        Remembered your password, Login!<!--Go to the sign in page-->
    </a><br>
</div>

{% endblock %}