{% extends "layout.html" %}
{% block title %} Reset Password {% endblock %}
{% block title %} Reset Password {% endblock %}

{% block body %}

<h1>
    Change Password
</h1>
<div class="container">
    <form action="/change_password_email" method="POST">
        <label for="username"> Enter Your Username: </label><br>
        <input type="text" id="username" name="username" class="input-field"><br>
        <label for="confirmation_code"> Enter The 10 Digit Code Sent To Your Email: </label><br>
        <input type="text" id="confirmation_code" name="confirmation_code" class="input-field"><br>
        <label for="new_password"> Enter New Password: </label><br>
        <input type="password" id="new_password" name="new_password" class="input-field"><br>
        <label for="confirm_new_password"> Confirm New Password: </label><br>
        <input type="password" id="confirm_new_password" name="confirm_new_password" class="input-field" required
                pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}"
                title="Password must contain at least 8 characters, including at least one number"><br>
        <input type="submit" value="Reset Password" class="BlackButton"><br>
    </form>
    <a href="/login" class="WhiteButton">
        Remembered My Password, Login!<!--Go to the sign in page-->
    </a><br>
</div>

{% endblock %}