{% extends "layout.html" %}
{% block title %} Daily Calendar++ {% endblock %}

{% block body %}
<div class="top_buttons">
    <button type="button" id="settings" class="BlackButton" onclick="location.href='/settings'">Settings</button>
  
    <button type="button" id="mode_switch_button" class="BlackButton">DarkMode</button>

    <button type="button" id="weekly" class="BlackButton">Weekly</button>
  
    <button type="button" id="monthly" class="BlackButton" onclick="location.href='/monthly_calendar'">Monthly</button>
         
    <button type="button" id="today_button" class="BlackButton">Today</button>
</div>

<h1 class="top_h1" id="year_month_day_header"></h1>

<div class="daily_container">
    <iframe src="/new_event" frameborder="0"></iframe>
    <div id="am_daily_view"></div>
    <div id="pm_daily_view"></div>
</div>



<script src="{{url_for('static', filename='dayly_view_script.js')}}"></script>
{% endblock %}

