{% extends "layout.html" %}
{% block title %} Daily Calendar++ {% endblock %}

{% block body %}
<div class="monthly_header">
    <button type="button" id="settings" class="BlackButton" onclick="location.href='/settings'">Settings</button>

    <button type="button" id="weekly" class="BlackButton">Weekly</button>
  
    <button type="button" id="monthly" class="BlackButton" onclick="location.href='/monthly_calendar'">Monthly</button>
         
    <button type="button" id="today_button_daily" class="BlackButton">Today</button>
</div>

<div class="daily_page_container">
    <div class="daily_item_event">
        <h1 class="small_h1">
            Create New Event
        </h1>
        <div class="event_add_container">
            <form action="/new_event" method="POST">
        
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" class="input-field" required><br>
        
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" class="input-field"></textarea><br>
        
            <label for="start_time">Start Time:</label><br>
            <input type="datetime-local" id="start_time" name="start_time" class="input-field" required><br>
        
            <label for="end_time">End Time:</label><br>
            <input type="datetime-local" id="end_time" name="end_time" class="input-field"required><br>
        
            <label for="location">Location:</label><br>
            <input type="text" id="location" name="location" class="input-field"><br>
        
            <label for="color">Color:</label><br>
            <input type="color" id="color" name="color" value="#000000"><br>
        
            <label for="type">Type:</label><br>
            <select id="type" name="type">
                <option value="EVENT">Event</option>
                <option value="REMINDER">Reminder</option>
                <option value="BIRTHDAY">Birthday</option>
            </select><br>
        
            <input type="submit" value="Create Event" class="BlackButton">
        </form>
        </div>
    </div>
    
    <div class="daily_container">
        <div id="pagination_daily">
            <button id="prev_day"><</button>
            <h2 id="year_month_day_header"></h2>
            <button id="next_day">></button>
        </div>
        <div class="daily_view_container">
            <div id="am_daily_view"></div>
            <div id="pm_daily_view"></div>
        </div>
    </div>    
</div>

<script src="{{url_for('static', filename='dayly_view_script.js')}}"></script>

{% endblock %}

