{% extends "layout.html" %}
{% block title %} Daily Calendar++ {% endblock %}

{% block body %}
<div class="top_buttons">
    <button type="button" id="settings" class="BlackButton" onclick="location.href='/settings'">Settings</button>
  
    <button type="button" id="mode_switch_button" class="BlackButton">DarkMode</button>

    <button type="button" id="weekly" class="BlackButton">Weekly</button>
  
    <button type="button" id="monthly" class="BlackButton" onclick="location.href='/monthly_calendar'">Monthly</button>
         
    <button type="button" id="today_button" class="BlackButton">Today</button>
</div>

<h1 class="daily_container"><div id="am_daily_view"></div>
    <div id="pm_daily_view"></div></h1>

<!-- <div class="daily_container"> -->
    <!-- <iframe src="/new_event" width="100%" height="1000px" frameborder="0"></iframe> -->
    
    
<!-- </div> -->

<script src="{{url_for('static', filename='dayly_view_script.js')}}"></script>
{% endblock %}

