<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Password Reset </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    
<body>
    <div class="container">
        <div class="centered-element">
            <h1>
                Please enter your username or email
            </h1>
            <form>
                <label for username> Username: </label><br>
                <input type = "text" id = "username" name="username" class="input-field"><br>
                <label for = username> Email: </label><br>
                <input type = "email" id = "email" name="password" class="input-field"><br>
                <input type="submit" value="sumbmit" class="BlackButton"><br>
            </form>
                <!-- <a  href="passwordReset.html" class="WhiteButton">
                Send The Email Again<!--Go to the sign in page-->
                <!-- </a><br> -->
        </div>
    </div>
</body>
</html>
