<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="{{url_for('static', filename='api_access.js')}}"></script>
    <script src="{{url_for('static', filename='theme_script.js')}}"></script>
    
    <link rel=" icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    {% block head %}
    <title>{% block title %}{% endblock %} - Calendar++</title>
    {% endblock %}

</head>

<!--Handle flashing-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<body class="{% if is_dark_mode %}dark_mode{% else %}light_mode{% endif %}">

    <div class="wallpaper" style="background-image: url('../static/image/siroicon2.png')">
        <div class="transparent">
            <!-- {% block navbar %}
        <button type="button" id="settings" class="BlackButton" onclick="location.href='/settings'">Settings</button>
        <button type="button" id="weekly" class="BlackButton" onclick="location.href='/weekly_calendar'">Weekly
            View</button>
        <button type="button" id="monthly" class="BlackButton" onclick="location.href='/monthly_calendar'">Monthly
            View</button>
        <button type="button" id="daily" class="BlackButton" onclick="location.href='/daily_calendar'">Daily
            View</button>
        <button type="button" id="event" class="BlackButton" onclick="location.href='/new_event'">Add Event</button>
           
        <button type="button" id="today_button" class="BlackButton">Today</button>
        {% endblock %} -->
    
    
        {% block body %}
        {% endblock %}
        </div>
    </div>
</body>

</html>