<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock %} - Calendar++</title>
    {% endblock %}
</head>

<!--Handle flashing-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<body class="light_mode">
    {% block navbar %}
    <button type="button" id="settings" class="BlackButton" onclick="location.href='/settings'">Settings</button>
    <button type="button" id="weekly" class="BlackButton" onclick="location.href='/weekly_calendar'">Weekly
        View</button>
    <button type="button" id="monthly" class="BlackButton" onclick="location.href='/monthly_calendar'">Monthly
        View</button>
    <button type="button" id="daily" class="BlackButton" onclick="location.href='/daily_calendar'">Daily
        View</button>
    <button type="button" id="event" class="BlackButton" onclick="location.href='/new_event'">Add Event</button>
    {% endblock %}

    {% block body %}
    {% endblock %}
</body>

</html>