<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Calender++ </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body> 
    <div class="container">
        <div class="centered-element">
            <h1>
                Login to Calender++
            </h1>
<form>
    <div class="form-container">
        <div style="text-align: left;">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" class="input-field"><br>
            <label for="username">Password:</label><br>
            <input type="text" id="username" name="username" class="input-field"><br>
            <input type="submit" value="Login" class="BlackButton"><br>
        </div>
        
        <a  href="New User Log In.html" class="WhiteButton">
            Establish a Fresh Account<!--Go to the sign in page-->
            </a><br>
        <a  href="ResetPassword.html" class="WhiteButton">
            Reset My Password<!--Go to the reset pasword page-->
            </a>
    </div>    
</form>
</div>
</div>
</body>
</html>

