{% extends "layout.html" %}
{% block title %} Login {% endblock %}

{% block body %}
<h1>
    Login to Calendar++
</h1>
<div class="container">
    <form action="/login" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" class="input-field" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" class="input-field" required><br>
        <input type="submit" value="Login" class="BlackButton"><br>
    </form>
    <a href="UserRegister.html" class="WhiteButton">
        Establish a Fresh Account<!--Go to the sign in page-->
    </a><br>
    <a href="/login" class="WhiteButton">
        Reset My Password<!--Go to the reset pasword page-->
    </a>
</div>
{% endblock %}