<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar++</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body class="light_mode"> 
  <div id="pagination">
    <button type="button" id="setting" class="blackButton">
      <img src="../static/image/setting_icon_light.png" alt="Button Image" width="30" height="30">
    </button>
    
    <button id="prev_month">↫</button>
    <h2 id="year_month_header"></h2>
    <button id="next_month">↬</button>
  </div>

  <div class="monthly_view">
    <div id="calendar"></div> 
  </div>
   
  <script src="../static/monthly_view_script.js"></script> 
</body>
</html>

    


