{% extends "layout.html" %}
{% block title %} Monthly Calendar++ {% endblock %}

{% block body %}
<div class="monthly_header"> 

  <button type="button" id="openDialogButton" class="BlackButton">New Event</button>

  <div id="dialog" class="dialog">
    <div id="dialogContent">
      <a href="/new_event" style="color: inherit; text-decoration: none;">
      </a>
    </div>
  </div>

  <button type="button" id="settings"  class="BlackButton">
    <a href="/settings" style="color: inherit; text-decoration: none;">
      Settings
    </a>
  </button>

  
  <button type="button" id="mode_switch_button" class="BlackButton">DarkMode</button>

  <button type="button" id="weekly" class="BlackButton">Weekly</button>
       
  <button type="button" id="today_button" class="BlackButton">Today</button>
       
    <div id="pagination">
      <button id="prev_month"><</button>
      <h2 id="year_month_header"></h2>
      <button id="next_month">></button>
    </div>
</div>
  
    <div class="monthly_view">
      <div id="monthly_calendar"></div> 
    </div>
    
<script src="{{url_for('static', filename='monthly_view_script.js')}}"></script>
<script src="{{url_for('static', filename='get_geolocation_script.js')}}"></script>
<script src="{{url_for('static', filename='daily_view_script.js')}}"></script>
<script src="{{url_for('static', filename='theme_script.js')}}"></script>



{% endblock %}