{% extends "layout.html" %}
{% block title %} Monthly++{% endblock %}

{% block body %}
<div class="button_header"> 
  <button type="button" id="weekly" class="BlackButton" onclick="location.href='/weekly_calendar'">Weekly</button>
       
  <button type="button" id="today_button_month" class="BlackButton">Jump To This Month</button>
  <div class="right_head_buttons">
    {% block navbar %}
    {{ super() }}
    {% endblock %}
  </div>

    <div id="pagination_monthly">
      <button id="prev_month"><</button>
      <h2 id="year_month_header"></h2>
      <button id="next_month">></button>
    </div>
</div>
  
  <div class="monthly_view">
    <div id="monthly_calendar"></div> 
  </div>

<script type="module" src="{{url_for('static', filename='monthly_view_script.js')}}"></script>
{% endblock %}