<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar++</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body class="light_mode" onload="get_location_and_send()"> 
<div class="monthly_header"> 
  <div class="top_buttons">
    <button type="button" id="setting" class="BlackButton">Setting</button>
    <button type="button" id="weekly" class="BlackButton">Weekly</button>
    <button type="button" id="event" class="BlackButton">Eevent</button>
    <button type="button" id="today_button" class="BlackButton">Today</button>
  </div>
  
  <div id="pagination">
    <button id="prev_month"><</button>
    <h2 id="year_month_header"></h2>
    <button id="next_month">></button>
  </div>
</div>

<div class="monthly_view">
  <div id="monthly_calendar"></div> 
</div>
   
<script src="../static/monthly_view_script.js"></script> 
<script src="../static/get_geolocation_script.js"></script> 
<script src="../static/dayly_view_script.js"></script>
</body>
</html>