<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar++</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- スタイルシートのリンク -->
</head>
<body>
  <div class="monthly_view">
    
      <div id="pagination">
        <button id="prev_month"><</button>
        <button id="next_month">></button>
        </div>
    <div id="calendar"></div> <!-- カレンダー表示用のdiv -->
  
      <!-- ページネーションコントロール -->
    </div>
    
    

    <script src="../static/script.js"></script> <!-- JavaScriptファイルのリンク -->
</body>
</html>

    


