{% extends "layout.html" %}
{% block title %} Create Event {% endblock %}

{% block body %}

<h1 class="top_h1">
    Create New Event
</h1>
<div class="container">
    <form action="/new_event" method="POST">

    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" class="input-field" required><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" class="input-field"></textarea><br>

    <label for="start_time">Start Time:</label><br>
    <input type="datetime-local" id="start_time" name="start_time" class="input-field" required><br>

    <label for="end_time">End Time:</label><br>
    <input type="datetime-local" id="end_time" name="end_time" class="input-field"required><br>

    <label for="location">Location:</label><br>
    <input type="text" id="location" name="location" class="input-field"><br>

    <label for="color">Color:</label><br>
    <input type="color" id="color" name="color" value="#000000"><br>

    <label for="type">Type:</label><br>
    <select id="type" name="type">
        <option value="EVENT">Event</option>
        <option value="REMINDER">Reminder</option>
        <option value="BIRTHDAY">Birthday</option>
    </select><br>

    <input type="submit" value="Create Event" class="BlackButton">
</form>
</div>

{% endblock %}