<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Calender++ </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "style.css">
    </head>
    
<body> 
    <center>
<form>
    <label for = fname> First name: </label><br>
    <input type = "text" placeholder = "First name" id = "fname" name="fname"><br>
    <label for = lname> Last name: </label><br>
    <input type = "text" placeholder = "Last name" id = "lname" name="lname"><br>
    <input type = "reset"> <br>
    <input type = "submit">
    <br>
    <!--Go to the sign in page-->
    <a  href="signIn.html"
    title ="goes to Sigin in page">
    <button style="font-size:10px; background-color: #ffd966;color:#002df9; ">  <!-- border-radius: 10px;-->
    Click here to sign up
    </button>
</a>
</form>
</center>
</body>

</html>