{% extends "layout.html" %}
{% block title %} Reset password {% endblock %}

{% block body %}

<h1>
    Verify It's You
</h1>
<div class="container">
    <form action="/ResetPassword(verifiy)" method="POST"></form>
    <form>
        <label for=code> Enter the 6 digit code on your Email: </label><br>
        <input type="text" id="code" name="code" class="input-field"><br>
        <input type="submit" value="Reset Password" class="BlackButton"><br>
    </form>
    <a href="ResetPassword(email).html" class="WhiteButton">
        Send The Email Again<!--Go to the sign in page-->
    </a><br>
</div>

{% endblock %}