<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Password Reset </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    
<body>
    <div class="container">
        <div class="centered-element">
            <h1>
                Recreate Password
            </h1>
            <form>
                <label for = password> Enter New Password: </label><br>
                <input type = "password" id = "password" name="password" class="input-field"><br>
                <label for = password> Confirm New Password: </label><br>
                <input type = "password" id = "password" name="password" class="input-field"><br>
                <input type="submit" value="Get New Password" class="BlackButton"><br>
            </form>
                <!-- <a  href="passwordReset.html" class="WhiteButton">
                Send The Email Again<!--Go to the sign in page-->
                <!-- </a><br> -->
        </div>
    </div>
</body>
</html>
