{% extends "layout.html" %}
{% block title %} Security++ {% endblock %}

{% block body %}
<h1 class="top_h1">
    Securrity Settings
</h1>
<div class="container">
    <a href="/change_email" class="WhiteButton">
        Change My Email<!--Go to register page-->

    </a><br>
   
    <a href="/change_password_settings" class="WhiteButton">
        Change Password<!--Go to the reset pasword page-->
    </a><br>

    <a href="/register" class="WhiteButton">
        Adding Phone number <!--Go to register page-->
    </a><br>
</div>
{% endblock %}