{% extends "layout.html" %}
{% block title %} Security++ {% endblock %}

{% block body %}

<div class="button_header">
    <button onclick="dropDown()" class="dropbtn">Settings</button>
    <div id="settings" class="dropdown-content">
        <a href="/security_settings" class="WhiteButton">
            Security settings<!--Go to the sign in page-->
        </a>
    </div>

    <button type="button" id="weekly" class="BlackButton" onclick="location.href='/weekly_calendar'">Weekly</button>
  
    <button type="button" id="monthly" class="BlackButton" onclick="location.href='/monthly_calendar'">Monthly</button>
         
</div>

<h1>
    Security settings
</h1>
<body class="light_mode">

    <!--<button type="button" id="settings" class="BlackButton" onclick="location.href='/settings'">Settings</button>-->
    <!--
    <button onclick="dropDown()" class="dropbtn">Settings</button>
    <div id="settings" class="dropdown-content">
        <a href="/data_management" class="WhiteButton">
            Manage my data< !--Go to the sign in page-- >
        </a><br>
        <a href="/security_settings" class="WhiteButton">
            Security settings< !--Go to the sign in page-- >
        </a><br>
        <a href="/social_settings" class="WhiteButton">
            Social settings< !--Go to the sign in page-- >
        </a><br>
    </div>-->
    <h1>Backup Emails:</h1>
    <ul>
        {% if backup_emails %}
            {% for email in backup_emails %}
                <li>{{ email }}</li>
            {% endfor %}
        {% else %}
            <li>No backup emails found.</li>
        {% endif %}
    </ul>
    
    <button onclick="dropDown()" class="dropbtn">Add Backup Email</button>
    <div id="settings" class="dropdown-content">
        <form action="/add_backup_email" method="POST">
            <input type="email" id="backup_email" name="backup_email" class="input-field" required>
            <input type="submit" value="Add" class="BlackButton">
        </form>
    </div>
    <button type="button" id="daily" class="BlackButton" onclick="location.href='/change_password_settings'">Change Password</button>
    <button type="button" id="event" class="BlackButton" onclick="location.href='/new_event'">Add Event</button>
    <button type="button" id="today_button" class="BlackButton">Delete Account</button>

</body>

{% endblock %}