{% extends "layout.html" %}
{% block title %} Reset password {% endblock %}

{% block body %}

<h1>
    User Settings
</h1>

<div class="container">
    <a href="/data_management" class="WhiteButton">
        Manage my data<!--Go to the sign in page-->
    </a><br>
    <a href="/security_settings" class="WhiteButton">
        security settings<!--Go to the sign in page-->
    </a><br>
    <a href="/social_settings" class="WhiteButton">
        Social settings<!--Go to the sign in page-->
    </a><br>
</div>
{% endblock %}