<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>

</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar++</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
    <h1 class="registerh1">Settings</h1>
  
    <button id="mode_switch_button" class="BlackButton">Dark Mode</button>

<script src="../static/monthly_view_script.js"></script> 
<script src="../static/get_geolocation_script.js"></script> 
<script src="../static/dayly_view_script.js"></script>
</body>
</html>