{% extends "layout.html" %}
{% block title %} Social Setting {% endblock %}

{% block body %}
<h1 class="registerh1">
    Securrity Settings
</h1>
<div class="container">
    <a href="/change_email" class="WhiteButton">
        Change My Email<!--Go to register page-->

    </a><br>
    <a href="/register" class="WhiteButton">
        Adding Phone number <!--Go to register page-->
    </a><br>
    <a href="/forgot_password" class="WhiteButton">
        Forgot Password<!--Go to the reset pasword page-->
    </a>
</div>
{% endblock %}