
{% extends "layout.html" %}
{% block title %} Style Setting++ {% endblock %}

{% block body %}

<div class="button_header">

    <div class="right_head_buttons">
        {% block navbar %}
        {{ super() }}
        {% endblock %}
      </div>
    
    <button type="button" id="monthly" class="BlackButton" onclick="location.href='/monthly_calendar'">Monthly</button>

    <button type="button" id="weekly" class="BlackButton" onclick="location.href='/weekly_calendar'">Weekly</button>
</div>


<div class="nomal_hader_container">
    <h1>
        Style Settings
    </h1>
</div>


<div class="settings_container">
        <div class="dark_mode_container">
            <p>Dark Mode:</p>
        <label class="switch">
            <input type="checkbox" id="mode_switch_button" name="mode_switch_button">
            <span class="slider"></span>
        </label>
        </div>
    <form action="/upload_wallpaper" method="POST" enctype="multipart/form-data" id="wallpaper_form">
        <div class="dark_mode_container">
            <p>Choose Your Wallpaper:</p>
        <label for="wallpaper" class="BlackButton">Upload...</label>
        <input type="file" id="wallpaper" name="wallpaper">
        </div>
    </form>
    <div class="save_it">
        <input type="submit" value="Save It" class="BlackButton"><br>
    </div>
</div>
{% endblock %}
