<!DOCTYPE html>
<html>
    <head>
        <title>New User Registration</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
<div class="container">
    <div class="centered-element">
        <h1>
            Register to Calendar++
        </h1>
        <a>
            <h3>New User Registration</h3>
            <form action="" method="">
                <div class="form-container">
                    <div style="text-align: left;">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" class="input-field"><br>

                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" class="input-field"><br>

                    <label for="password">Confirm Password:</label><br>
                    <input type="password" id="password" name="password" class="input-field"><br>

                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" class="input-field"><br>

                    <label for="Number">Phone Number (Optional):</label><br>
                    <input type="tel" id="Number" name="Number" class="input-field"><br>
                   
                    <input type="submit" value="Register" class="BlackButton"><br>
                    </div>
                </div>
                <!-- <a href="/register">Create</a>    -->
            </form>
    </body>
