{% extends "layout.html" %}
{% block title %} Weekly++ {% endblock %}

{% block body %}



<script type="module" src="../static/weekly_calendar_script.js"></script>

<body>
  <div class="button_header">
    {% block navbar %}
    {{ super() }}
    {% endblock %}
    <button type="button" id="monthly" class="BlackButton" onclick="location.href='/monthly_calendar'">Monthly</button>

    <button type="button" id="weekly" class="BlackButton">Jump To This Week</button>

    <div id="pagination_weekly">
      <button id="prevWeek" id="next_week"><</button>
          <h2>Weekly Calendar</h2>
          <button id="nextWeek" id="prev_week">></button>
    </div>
</div>

<table id="weekly_calendar_header" class="weekly_calendar">
  <thead class="weekly_day">
    <tr>
      <th class="time_col_header">Time</th>
      <th id="sunday"></th>
      <th id="monday"></th>
      <th id="tuesday"></th>
      <th id="wednesday"></th>
      <th id="thursday"></th>
      <th id="friday"></th>
      <th id="saturday"></th>
    </tr>
  </thead>
</table>
  <div class="overflow_container_weekly">

    <table id="calendar" class="weekly_calendar">
      <thead>
        <tr>
          <th>Time</th>
          <th id="sunday"></th>
          <th id="monday"></th>
          <th id="tuesday"></th>
          <th id="wednesday"></th>
          <th id="thursday"></th>
          <th id="friday"></th>
          <th id="saturday"></th>
        </tr>
      </thead>
    </table>
    <!-- </div> -->

    {% endblock %}

    <script>

    </script>
